{{- define "error_incorrect_wire_type" -}}
    {{- import "fmt" -}}
    fmt.Errorf("litepb: incorrect wire type [%d] for field {{ .msg.GetName }}.{{ .field.GetName }}", {{ .fieldNum }} & 7)
{{- end -}}