{{- define "field_unmarshal_sint64" -}}
    {{- template "field_unmarshal_int" kv
    "type" .type
    "errorUnexpectedEnd" .errorUnexpectedEnd
    "valueName" .valueName
    "valueCreate" .valueCreate
    "valueTypeName" "int64"
    "rangeItems" (arr 0 7 14 21 28 35 42 49 56 63)
    -}}
    {{- set . "result" (render "field_unmarshal_sint64_result" .valueName) -}}
{{- end -}}