{{- define "field_unmarshal_sint64_packed" -}}
    {{- set . "valueCreate" true -}}
    {{- set . "valueTypeName" "int64" -}}
    {{- set . "rangeItems" (arr 0 7 14 21 28 35 42 49 56 63) -}}
    {{- set . "packedResult" (render "field_unmarshal_sint64_result" .valueName) -}}
    {{- template "field_unmarshal_packed" . -}}
{{- end -}}