{{- define "field_unmarshal_uint32_packed" -}}
    {{- set . "valueCreate" true -}}
    {{- set . "valueTypeName" "uint32" -}}
    {{- set . "rangeItems" (arr 0 7 14 21 28) -}}
    {{- set . "packedResult" .valueName -}}
    {{- template "field_unmarshal_packed" . -}}
{{- end -}}