{{- define "field_unmarshal_bool" -}}
    if len(data) <= index || data[index] > 127 {
    return {{ template "error_unexpected_end_of_field_value" .fieldName }}
    }
    index++
    {{- set_result . "data[index-1] == 1" -}}
{{- end -}}