{{- define "field_unmarshal_int32" -}}
    {{- template "field_unmarshal_int" kv
    "type" .type
    "endName" .endName
    "errorUnexpectedEnd" .errorUnexpectedEnd
    "valueName" .valueName
    "valueCreate" .valueCreate
    "valueTypeName" "int32"
    "rangeItems" (arr 0 7 14 21 28)
    -}}
    {{- set_result . .valueName -}}
{{- end -}}