{{- define "field_tags" -}}
    {{- /*gotype: github.com/e-tape/litepb/proto.Message_Field*/ -}}
    {{- $separator := "" -}}
    `
    {{- range $key, $value :=  .GetTags -}}
        {{- $separator -}}{{- $key -}}
        {{- $separator = "," -}}
        {{- if not (eq $value "") -}}
            :"{{- $value -}}"
        {{- end -}}
    {{- end -}}
    `
{{- end -}}