{{- define "field_unmarshal_sint32" -}}
    {{- template "field_unmarshal_int" kv
    "type" .type
    "endName" .endName
    "errorUnexpectedEnd" .errorUnexpectedEnd
    "valueName" .valueName
    "valueCreate" .valueCreate
    "valueTypeName" "int32"
    "rangeItems" (arr 0 7 14 21 28)
    -}}
    {{- set_result . (printf "(%[1]s>>1) ^ ((%[1]s&1<<31)>>31)" .valueName) -}}
{{- end -}}