{{- define "field_type_path" -}}
    {{- /*gotype: github.com/e-tape/litepb/proto.Message_Field_Type*/ -}}
    {{- with import .GetReflect.GetDependency.GetPath -}}
        {{- . -}}.
    {{- end -}}
{{- end -}}