{{- define "field_unmarshal_sint64" -}}
    {{- template "field_unmarshal_int" kv
    "type" .type
    "endName" .endName
    "errorUnexpectedEnd" .errorUnexpectedEnd
    "valueName" .valueName
    "valueCreate" .valueCreate
    "valueTypeName" "int64"
    "rangeItems" (arr 0 7 14 21 28 35 42 49 56 63)
    -}}
    {{- set_result . (printf "(%[1]s>>1) ^ ((%[1]s&1<<63)>>63)" .valueName) -}}
{{- end -}}