{{- define "field_unmarshal_fixed64" -}}
    if len(data) < index + 8 {
    return {{ .errorUnexpectedEnd }}
    }
    {{ .valueName }} {{ if .valueCreate }}:{{ end }}= {{ import "encoding/binary" "encoding_binary" }}.LittleEndian.Uint64(data[index : index+8])
    index += 8
    {{- set_result . .valueName -}}
{{- end -}}