{{- define "field_unmarshal_bytes" -}}
    {{- template "field_unmarshal_int" kv
    "errorUnexpectedEnd" .errorUnexpectedEndLength
    "valueName" .valueLength
    "valueCreate" true
    "valueTypeName" "int"
    "rangeItems" (arr 0 7 14 21 28)
    }}
    if {{ .valueLength }} < 0 { return {{ .errorIncorrectLength }} }
    index += {{ .valueLength }}
    if len(data) < index { return {{ .errorUnexpectedEndValue }} }
    {{ set . "result" (render "field_unmarshal_bytes_result" .valueLength ) -}}
{{- end -}}
{{- define "field_unmarshal_bytes_result" -}}
    data[index-{{ . }} : index]
{{- end -}}