{{- define "field_unmarshal_string" -}}
    {{- template "field_unmarshal_int" kv
    "errorUnexpectedEnd" .errorUnexpectedEndLength
    "valueName" .valueLength
    "valueCreate" true
    "valueTypeName" "int"
    "rangeItems" (arr 0 7 14 21 28)
    }}
    if {{ .valueLength }} < 0 { return {{ .errorIncorrectLength }} }
    index += {{ .valueLength }}
    if len(data) < index { return {{ .errorUnexpectedEndValue }} }
    {{ set . "result" (render "field_unmarshal_string_result" .valueLength) -}}
{{- end -}}
{{- define "field_unmarshal_string_result" -}}
    {{ template "convert_bytes_to_string" "" }}(&data[index-{{ . }}], {{ . }})
{{- end -}}