{{- define "field_unmarshal_float_packed" -}}
    {{- template "field_unmarshal_int" kv
    "errorUnexpectedEnd" .errorUnexpectedEndLength
    "valueName" .valueLength
    "valueCreate" true
    "valueTypeName" "int"
    "rangeItems" (arr 0 7 14 21 28)
    }}
    if {{ .valueLength }} < 0 { return {{ .errorIncorrectLength }} }
    if {{ .valueLength }} % 4 != 0 { return {{ .errorIncorrectLength }} }
    if len(data) < index + {{ .valueLength }} { return {{ .errorUnexpectedEndValue }} }
    if a.{{ .field.GetName }} == nil {
    a.{{ .field.GetName }} = make([]float32, 0, {{ .valueLength }} / 4)
    }
    for i := 0; i < {{ .valueLength }}; i += 4 {
    a.{{ .field.GetName }} = append(a.{{ .field.GetName }}, {{ template "field_unmarshal_float_result" (render "field_unmarshal_double_packed_result" "") }})
    index += 4
    }
{{- end -}}
{{- define "field_unmarshal_double_packed_result" -}}
    {{ import "encoding/binary" "encoding_binary" }}.LittleEndian.Uint32(data[index : index+4])
{{- end -}}