{{- define "list_return_to_pool_pointer" -}}
    {{- /*gotype: github.com/e-tape/litepb/proto.Message_Field*/ -}}
    if a.p{{ .GetName }} != nil {
    *a.p{{ .GetName }} = a.{{ .GetName }}
    a.p{{ .GetName }}.{{ template "func_name_list_return_to_pool" }}()
    }
{{- end -}}