{{- define "map_pool" -}}
    {{ if is_generate "POOL" -}}
        {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
        {{ if .GetMemPoolMap -}}
            {{ template "pool_name_map" . }} = &{{ import "sync" }}.Map{}
        {{ end -}}
    {{ end -}}
{{- end -}}