{{- define "message_string" -}}
    {{- /*gotype: github.com/e-tape/litepb/pkg/plugin.Message*/ -}}
    func (a *{{ .GetName }}) String() string {
        if a == nil { return "<nil>" }
        {{ import "fmt" -}}
        return fmt.Sprintf("%+v", a){{/* TODO: Implement proper string */}}
    }
{{- end -}}