{{- define "message_new" -}}
    {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
    {{ if is_generate "NEW" -}}
        func {{ template "func_name_message_new" . }}() *{{ .GetName }} {
        {{- if .GetMemPoolMessage -}}
            return {{ template "pool_name_message" . }}.Get().(*{{ .GetName }})
        {{- else -}}
            return {{ template "message_constructor" . }}
        {{- end -}}
        }
    {{ end -}}
{{- end -}}