{{- define "message_map" -}}
    {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
    {{ if is_generate "MAP" -}}
        {{ template "type_name" kv "msg" . "map" true }}[K comparable] map[K]*{{ template "type_name" kv "msg" . }}
    {{ end -}}
{{- end -}}