{{- define "message_interface_name" -}}
    {{- /*gotype: github.com/e-tape/litepb/pkg/plugin.Message*/ -}}
    {{- $msg := . -}}
    {{- $msg = index . "msg" -}}
    {{- if index . "get" -}}
        I{{ $msg.GetName }}Get
    {{- else if index . "set" -}}
        I{{ $msg.GetName }}Set
    {{- else -}}
        I{{ $msg.GetName }}
    {{- end -}}
{{- end -}}