{{- define "message_marshal" -}}
    {{ if is_generate "MARSHAL" -}}
        {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
        func (a *{{ .GetName }})Marshal() ([]byte, error) {
        return nil, nil
        }
    {{ end -}}
{{- end -}}