{{- define "message_interface_name" -}}
    {{- $c := . -}}
    {{ with .msg -}}
        {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
        {{- if $c.get -}}
            I{{ .GetName }}Get
        {{- else if $c.set -}}
            I{{ .GetName }}Set
        {{- else -}}
            I{{ .GetName }}
        {{- end -}}
    {{ end -}}
{{- end -}}