{{- define "message_proto_message" -}}
    {{ if is_generate "PROTO_MESSAGE" -}}
        {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
        func (a *{{ template "type_name" kv "msg" . }}) ProtoMessage() {}
    {{ end -}}
{{- end -}}