{{- define "message_proto_message" -}}
    {{ if is_generate "PROTO_MESSAGE" -}}
        {{- /*gotype: github.com/e-tape/litepb/pkg/plugin.Message*/ -}}
        func (a *{{ .GetName }}) ProtoMessage() {}
    {{ end -}}
{{- end -}}