{{- define "message_string" -}}
    {{ if is_generate "STRING" -}}
        {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
        func (a *{{ template "type_name" kv "msg" . }}) String() string {
        if a == nil { return "<nil>" }
        return {{ import "fmt" -}}.Sprintf("%+v", a){{/* TODO: Implement proper string */}}
        }
    {{ end -}}
{{- end -}}