{{- define "message_interface" -}}
    {{ if is_generate "INTERFACE" -}}
        {{- /*gotype: github.com/e-tape/litepb/proto.Message*/ -}}
        {{ template "type_name" kv "msg" . "i" true }} interface {
        {{ template "type_name" kv "msg" . "i_get" true }}
        {{ template "type_name" kv "msg" . "i_set" true }}
        }
    {{ end -}}
{{- end -}}