{{- define "oneof_type_name" -}}
    {{- if .oneof -}}
        {{ template "message_interface_name" kv "msg" .msg }}Oneof{{ .oneof.GetName }}
    {{- else if .field -}}
        {{ .msg.GetName }}Oneof{{ .field.GetName }}
    {{- end -}}
{{- end -}}