{{- define "oneof_type_name" -}}
    {{- if index . "oneof" -}}
        {{ template "message_interface_name" dict "msg" (index . "msg") }}Oneof{{ (index . "oneof").GetName }}
    {{- else if index . "field" -}}
        {{ (index . "msg").GetName }}Oneof{{ (index . "field").GetName }}
    {{- end -}}
{{- end -}}