{{ define "types" }}

{{ range . -}}
{{- range (lines .Comments) -}}{{/**/}}
//{{ . }}
{{- end }}
type {{ .Name }} struct {
{{- range .Fields -}}{{/**/}}
    {{- range (lines .Comments) -}}{{/**/}}
    //{{ . }}
    {{- end }}
	{{ .Name }} {{ .Type }} `json:"{{ .SnakeName }}"`
{{- end }}
}

func (m *{{ .Name }}) Reset() {
    *m = {{ .Name }}{}
}

func (m *{{ .Name }}) ProtoMessage() {}

func (m *{{ .Name }}) String() string {
    if m == nil {
        return "<nil>"
    }
    return fmt.Sprintf("%+v", m){{/* TODO: Implement proper string */}}
}

{{ $type := . }}
{{- range .Fields -}}{{/**/}}
func (m *{{ $type.Name }}) Get{{ .Name }}() {{ .Type }} {
    if m != nil {
		return m.{{ .Name }}
	}
	return {{ .ZeroValue }}
}

func (m *{{ $type.Name }}) Set{{ .Name }}(value {{ .Type }}) {
	m.{{ .Name }} = value
}
{{ end }}

{{ end }}

{{ end }}
