{{- define "type_convert_to" -}}
    {{- /*gotype: github.com/e-tape/litepb/proto.Message_Field_Type*/ -}}
    {{- template "field_type_path" . }}{{ template "func_name_message_convert_to" .GetReflect }}
{{- end -}}